:root {
  --font-opensans: "Open Sans", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-logo: "Satisfy", cursive;
  --color-yellow-orange: #ffb140;
  --color-black: #12130f;
  --color-white: #ffffff;
  --color-blue: #00a7e1;
  --color-darkblue: #016688;
  --color-grey: #a1867f;
}

body {
  font-family: var(--font-poppins);
  box-sizing: border-box;
}

/* Nav Bar */
nav {
  display: flex;
  padding: 2rem 10rem 1rem 10rem;
}

nav #logo {
  font-size: 3rem;
  font-family: var(--font-logo);
  color: var(--color-blue);
}

nav #nav-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  gap: 2rem;
}

nav .active {
  color: var(--color-blue);
  font-weight: 500;
}

nav a {
  text-decoration: none;
  color: var(--color-black);
}

nav .nav-btn {
  font-size: 1.5rem;
}

header #line-break {
  margin: 0 8rem;
  border: none;
  border-top: 0.2rem solid var(--color-grey);
  border-radius: 1rem;
}

/* Home Section */

#home .container {
  margin: 2.5rem 10rem;
  display: flex;
  gap: 10%;
  justify-content: space-between;
}

#home .container .text-box {
  background-color: var(--color-darkblue);
  color: rgb(223, 223, 223);
  padding: 1rem;
  font-size: 1.5rem;
  line-height: 1.3;
}

#home .container .text-box h2 {
  text-align: center;
  font-size: 4rem;
  border-bottom: 2px solid var(--color-black);
  margin-bottom: 1rem;
  color: var(--color-white);
}

#home .container .text-box span.logo {
  font-family: var(--font-logo);
  color: var(--color-yellow-orange);
  font-weight: 500;
  font-size: 1.75rem;
}

#home .container .text-box a {
  color: var(--color-yellow-orange);
  text-decoration: none;
}

#home .container .text-box a:hover {
  text-decoration: underline;
}

#home .container .text-box .follow-me-btn {
  width: 100%;
  background-color: transparent;
  border: 2px solid var(--color-white);
  margin-top: 3rem;
  font-size: 2rem;
  font-family: var(--font-opensans);
  border-radius: 1rem;
  color: var(--color-white);
  transition: all ease-in 300ms;
}

#home .container .text-box .follow-me-btn:hover {
  background-color: var(--color-white);
  color: var(--color-darkblue);
}

#home .container .image-box {
  margin-left: auto;
}

#home .container .image-box img {
  width: 100%;
  min-width: 30vw;
  height: 100%;
}

/* Featured Projects */
#projects .featured-projects {
  background-color: var(--color-black);
  padding: 2rem 0;
}

#projects .featured-projects h2 {
  font-size: 3rem;
  color: var(--color-yellow-orange);
  margin-bottom: 2rem;
  margin-inline: 6rem;
}

#projects .featured-projects-container .featured-project-cards {
  display: flex;
  overflow: hidden;
  gap: 10rem;
  justify-content: center;
  padding: 1rem;
}

#projects .featured-projects-container .featured-project-card {
  width: 500px;
  height: 500px;
  border: 1px solid honeydew;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  opacity: 0.5;
  filter: blur(3px);
  transition: all ease-in-out 500ms;
}

#projects .featured-project-card.active {
  opacity: 1;
  filter: none;
}

#projects .featured-project-card.active:hover {
  transform: translate(-2px, -2px);
  box-shadow: 2px 2px 0 2px var(--color-yellow-orange);
}

#projects .featured-project-card[data-project="clock"] {
  background-image: url(../images/clock.png);
}

#projects .featured-project-card[data-project="snake"] {
  background-image: url(../images/snakeGame.png);
}

#projects .featured-project-card[data-project="stop-watch"] {
  background-image: url(../images/stopWatch.png);
}

#projects .featured-projects-slider {
  display: flex;
  justify-content: center;
  gap: 1.3rem;
  margin-top: 2rem;
}

#projects .featured-projects-slider .slider {
  transition: all ease 700ms;
  --radius: 1rem;
  width: var(--radius);
  height: var(--radius);
  border-radius: 50%;
  background-color: var(--color-grey);
  opacity: 0.3;
  cursor: pointer;
}

#projects .featured-projects-slider .slider.active {
  opacity: 0.8;
  background-color: var(--color-yellow-orange);
}

#projects .featured-projects .slider:hover {
  width: 2.5rem;
  border-radius: 1rem;
}
